::-webkit-scrollbar {
  display: none;
}

:root {
  --base: #0f1919;
  --BG: #505581;
  --buttons: #9191e9;
  --buttonsclicked: #30374d;
  --text: rgb(197, 186, 186);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  user-select: none;
}

.header {
  user-select: none;
  background-color: var(--base);
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text);
  font-family: "Comic Neue";
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.header a img {
  position: absolute;
  top: 2.5vh;
  right: 2vw;
  margin-right: 0px;
  transition: all 0.2s ease-in-out;
}

.header a img:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.07);
}

.bmc-custom-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2.5vh;
  right: 7vw;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c6bc0;
  color: #000;
  border-radius: 50%;
  text-decoration: none;
  font-family: sans-serif;
  transition: transform 0.2s ease;
  z-index: 9999;
}

.bmc-custom-btn svg {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.bmc-custom-btn:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.07);
}

.body {
  background-color: var(--BG);
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.buttons button {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  border: solid 0px #262a2b;
  background-color: var(--buttons);
  border-radius: 15px;
  width: 100px;
  height: 45px;
  margin: 0px 10px;
  font-weight: 900;
  font-size: 15px;
  font-family: "Comic Neue";
  transition: all 0.2s ease-in-out;
}

.buttons {
  user-select: none;
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  transition: all 0.2s ease-in-out;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #262a2b;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.buttons button:active {
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
}

#hiragana.clicked,
#katakana.clicked,
#romaji.clicked {
  transition: all 0.2s ease-in-out;
  background-color: var(--buttonsclicked);
  transition: none;
  box-shadow: none;
  cursor: unset;
  border: 0px;
  transform: scale(1);
}

.main {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.main p {
  user-select: none;
  color: rgb(197, 186, 186);
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Comic Neue";
  font-size: 19px;
}

.main blockquote {
  user-select: none;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120px;
}

#answer {
  color: transparent;
  user-select: none;
}

#answer.shown {
  transition: ease 0.2s;
  text-align: center;
  user-select: none;
  padding-top: 10px;
  font-size: 25px;
  font-family: "Comic Neue";
  color: white;
  min-width: 60px;
  max-width: 90px;
  height: 40px;
  background-color: var(--buttons);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.submain {
  align-items: center;
  justify-content: center;
  place-items: center;
}

#letter {
  transition: all ease 0.2s;
  font-family: "Zen Maru Gothic";
}