::-webkit-scrollbar {
  display: none;
}

:root {
  --base: #0f1919;
  --BG: #505581;
  --buttons: #9191e9;
  --buttonsclicked: #30374d;
  --text: rgb(197, 186, 186);
}

.html {
  outline: none;
  user-select: none;
}

.header {
  user-select: none;
  background-color: var(--base);
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text);
  font-family: "Comic Neue";
  font-size: 25px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.header a img {
  position: absolute;
  top: 2.5vh;
  right: 2vw;
  margin-right: 0px;
}

.body {
  background-color: var(--BG);
  width: 100vw;
  height: 90vh;
}

.buttons button {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  border: solid 0px #262a2b;
  background-color: var(--buttons);
  border-radius: 15px;
  width: 100px;
  height: 45px;
  margin: 0px 10px;
  font-weight: 900;
  font-size: 15px;
  font-family: "Comic Neue";
}
.buttons {
  user-select: none;
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  transition: all 0.2s ease-in-out;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #262a2b;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.buttons button:active {
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
}

#hiragana.clicked,
#katakana.clicked,
#romaji.clicked {
  transition: all 0.2s ease-in-out;
  background-color: var(--buttonsclicked);
  transition: none;
  box-shadow: none;
  cursor: unset;
  border: 0px;
  transform: scale(1);
}

.main {
  width: 100vw;
  height: 100%;
  cursor: pointer;
}

.main p {
  user-select: none;
  color: rgb(197, 186, 186);
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Comic Neue";
  font-size: 19px;
}

.main blockquote {
  margin: 70px;
  user-select: none;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120px;
}

#answer {
  color: transparent;
  user-select: none;
}

#answer.shown {
  transition: ease 0.2s;
  text-align: center;
  user-select: none;
  padding-top: 10px;
  font-size: 25px;
  font-family: "Comic Neue";
  color: white;
  min-width: 60px;
  width: 15%;
  max-width: 75px;
  height: 40px;
  background-color: var(--buttons);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: -55px;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}

.submain {
  align-items: center;
  justify-content: center;
  place-items: center;
}

#letter {
  transition: all ease 0.2s;
  font-family: "Zen Maru Gothic";
}
